/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; background-color: #000;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { .content: ""; .content: none; }

small { font-size: 85%; }

/* Position subscript and superscript .content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded .content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image .containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: .content-box; -webkit-box-sizing: .content-box; box-sizing: .content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

@font-face {
    font-family: 'FuturaExtBdCond';
    src: url('futurastd-condensedextrabd-webfont.eot');
    src: url('futurastd-condensedextrabd-webfont.eot?#iefix') format('embedded-opentype'),
         url('futurastd-condensedextrabd-webfont.woff') format('woff'),
         url('futurastd-condensedextrabd-webfont.ttf') format('truetype'),
         url('futurastd-condensedextrabd-webfont.svg#futura_std_condensed_extbdRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

.navitem {
  cursor: pointer;
}

.header {
  height:100px; 
  width: 1025px; 
  display: block;
  position: fixed;
  top:0;
  margin: 0, auto, 0, auto;
  z-index: 1000;
}
.header .navigation {
  height: 100px;
  background: url("../img/nav-bg.png");
  background-repeat: no-repeat;
  background-position: 0px 25px;
  margin-left: 50px;
}
.header .navitem {
  color:#b3b2b0; 
  display: inline-block;
  width:110px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-right: 15px;
  margin-left: 15px;
}

.header .navitem.active {
  color:#c62b56; 
}

.header .navitem a {
  color:#b3b2b0;
  display: block;
  line-height: 100px;
  text-decoration: none;
}

.header .navitem.social {
  width:135px;
  margin-right: 0px;
  margin-left: 10px;
}
.header .navitem.social .socialitem {
  width: 31px;
  height: 100px;
  display: inline-block;
}
.header .navitem.logo {
  width: 170px; 
  height: 100px; 
  background-image: url(../img/header-logo.png);
  margin-left: 0px;
  margin-right: 0px;
}

.header .navitem[destination="culture"] {
  margin-left: 5px;
  width: 60px;
}

.header .navitem[destination="creative-study"] {
  width: 107px;
}

.header .navitem[destination="work"] {
  width: 40px;
}

.header .navitem[destination="team"] {
  width: 65px;
}

.header .navitem[destination="services"] {
  width: 60px;
}

.header .navitem[destination="contact"] {
  width: 60px;
}

div[role="main"] {
  width: 1025px; 
  margin: 0px auto 0px auto; 
  display: block;
}

.container {
  padding-top:100px;
  background-repeat: no-repeat;
}

.container .content p{
  color: #6f7071;
}

.container.home {
  height: 788px;
  display: block;
  background-image: url(../img/container-background-home.png);
  position: relative;
}

  .container.home .content {
    position: absolute;
    top: 515px;
    width: 100%;
    text-align: center;
  }

  .container.home .content h2 {
    padding: 15px;
    font-size: 28px;
  }

  .container.home #home-slider {
    height: 571px;
    position: absolute;
    top: 90px;
    width: 100%;
    background-color: black;
    opacity: 0;
  }

    .container.home #home-slider .swiper-slide {
      background-repeat: no-repeat;
      background-position: bottom center;
    }

    .container.home #home-slider .close-button {
      position: absolute;
      top: 30px;
      right: 0px;
      width: 36px;
      height: 36px;
      cursor: pointer;
      z-index: 8040;
      background-image: url('../css/fancybox/fancybox_sprite.png');
    }

    .container.home #home-slider .swiper-slide.mobile {
      background-image: url("../img/home/slides/slide-mobile.png");

    }
    .container.home #home-slider .swiper-slide.touchwall {
      background-image: url("../img/home/slides/slide-touch-wall.png");
    }
    .container.home #home-slider .swiper-slide.websites {
      background-image: url("../img/home/slides/slide-websites.png");
    }
    .container.home #home-slider .swiper-slide.motion {
      background-image: url("../img/home/slides/slide-motion.png");
    }
    .container.home #home-slider .swiper-slide.video {
      background-image: url("../img/home/slides/slide-video.png");
    }


    .container.home .content #home-icons {
      display: block;
    }

      .container.home .content #home-icons .navitem {
        display: inline-block;
        magin: 0px 5px 0px 5px;
        width:85px;
        vertical-align: top;
      }

        .container.home .content #home-icons .navitem .icon {
          height: 52px;
          width: 52px;
          display: block;
          margin: 0px auto 5px auto;
          background: url("../img/home/home-icon-bg-inactive.png");

        }

        .container.home .content #home-icons .navitem .icon.active {
          background: url("../img/home/home-icon-bg-active.png");
        }

        .container.home .content #home-icons .navitem span {
          color: #585855;
          text-align: center;
          display: block;
        }

        .container.home .content #home-icons .navitem a {
          text-decoration: none;
        }

.home-images .fancybox-skin {
  background: transparent;
}

.container .content h2 {
  color: #faf8de;
  font-family: FuturaExtBdCond, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.container .content h2 .highlight {
  color: #c62b56;
}


.container.culture {
  height: 1009px;
  display: block;
  background-image: url(../img/container-background-culture.png);
  position: relative;
}

    .container.culture .content {
      position: absolute;
      top:138px;
      width: 585px;
    }
      .container.culture .content h2 {
        font-size: 22px;
      }

      .container.culture .content p{
        color: #6f7071;
        width: 500px;
      }

      .container.culture .content p span{
        color: #fff;
      }


.container.creative-study {
  height: 769px;
  display: block;
  position: relative;
}

.container.amazing-things {
  background-image: url(../img/container-background-creative-study-amazing-things.png);
}

.container.tyco {
  background-image: url(../img/container-background-creative-study-tyco.png);
}

.container.duke-tip {
  background-image: url(../img/container-background-creative-study-duke-tip.png);
}

  .container.creative-study .content {
    position: absolute;
    top: 123px;
  }

    .container.creative-study .content .navigation {
      display: block;
      background-color: #0f151c;
      margin: 20px 0px 35px 60px;
    }

      .container.creative-study .content .navigation .navitem{
        color: #faf8de;
        display: block;
        padding: 0px;
        padding-left: 5px;
        font-family: FuturaExtBdCond, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
      }

      .container.creative-study .content .navigation .navitem span {
        display: inline-block;
        width: 20px;
        text-align: center;
        font-size: 14px;
        font-family: Arial, sans-serif;
        vertical-align: bottom;
        line-height: 28px;
        margin-right: 7px;
      }

      .container.creative-study .content .navigation .navitem.active {
        color:#c62b56; 
      }

  .container.creative-study .content .study {
    width: 534px;
    height: 415px;
    background-color: #0f151c;
    display: block;
    padding: 10px 0px 0px 0px;
    position: relative;
    margin-left: 60px;
  }

  .container.creative-study .content .study .video-container {
    width: 507px;
    height: 285px;
    display: block;
    margin: 0px 15px 10px 15px;
  }

  .container.creative-study .content .study h2 {
    background: transparent;
    margin: 10px 15px 10px 15px;
  }

  .container.creative-study .content .study p {
    margin: 10px 15px 10px 15px;
  }

  .container.creative-study .content [title="amazing-things"] {

  }

  .container.creative-study .content [title="amazing-things"] .video-container {
    background-image: url(../img/video-placeholder-amazing-things.png);
    width: 507px;
    height: 285px;
  }


.container.creative-study .content [title="tyco"] {
  display:none;
  }

  .container.creative-study .content .study[title="tyco"] .video-container {
    background-image: url(../img/video-placeholder-tyco.png);
    position:absolute;
    left: 597px;
    top: -51px;
    width: 253px;
    height: 379px;
    margin: 0px 0px 0px 0px;
  }


  .container.creative-study .content [title="duke-tip"] {
    display:none;
  }

  .container.creative-study .content [title="duke-tip"] .video-container {
    background-image: url(../img/video-placeholder-duke-tip.png);
    width: 507px;
    height: 285px;
  }
  .container.creative-study.duke-tip .content .navigation {
      margin: 20px 0px 35px 60px;
      display: block;
      background-color: #FFF;
    }

      .container.creative-study.duke-tip .content .navigation .navitem{
        color: #000;
        display: block;
      }

      .container.creative-study.duke-tip .content .navigation .navitem.active {
        color:#c62b56; 
      }

      .container.creative-study.duke-tip .content .study {
        width: 534px;
        height: 415px;
        background-color: #FFF;
        display: block;
        padding: 10px 0px 0px 0px;
      }

      .container.creative-study.duke-tip .content .study h2 {
        background-color: #FFF;
        color: #000;
      }


.container.work {
  display: block;
  position: relative;
  background-color: #000;
}

.container.work .navigation {
  display: block;
  width:352px;
  float:left;
}

.container.work .navigation .category {
  display: block;
  background: #151c26;
  border-radius: 0px;
  border: 0px solid #000;
  color: #faf8de;
  padding: 3px;
  color: #faf8de;
  font-family: FuturaExtBdCond, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.container.work .navigation .category span {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.container.work .navigation div {
  background: transparent;
  border-radius: 0px;
  border: 0px solid #000;
  color: #faf8de;
}

.container.work .navigation div .navitem {
  display: block;
  font-family: FuturaExtBdCond, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

.container.work .navigation div .navitem.active {
  color:#c62b56; 
}

.container.work .workitems {
  width: 639px;
  display:block;
  margin: 0px 0px 0px 362px;
}

.container.work .workitem {
  width: 639px;
  display:block;
}

.container.work .workitem .button-div {
  float:left;
  width: 232px;
}

.container.work .workitem .navbutton{
  width: 227px;
  height: 33px;
  background-color: #eebd00;;
  margin: 10px 0px 5px 0px;
  display: block;
  font-family: FuturaExtBdCond, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 5px;
}

.container.work .workitem .screenshot {
  width: 639px;
}

.container.work .workitem .navbutton.html5-site {
}

.container.work .workitem .navbutton.flash-site {
}

.container.work .workitem p {
  margin-left: 251px;
}

.container.work .workitem h2 {
  margin: 5px 0px 5px 251px;
  color: #eebd00;
  font-size: 24px;
  background: transparent;
}

.container.team {
  display: block;
}

.container.team h2 {
  font-size: 34px;
  width: 485px;
  padding: 10px;
}

.container.team .navigation {
  float:left;
  width:352px;
  display: block;
}

.container.team .navigation .navitem{
  display: block;
  margin: 20px 0px 20px 0px;
}

.container.team .navigation h3{
  color: #faf8de;
  margin: 0px 0px 0px 0px;
  font-family: FuturaExtBdCond, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

.container.team .navigation .navitem.active h3 {
  color:#c62b56;
}

.container.team .navigation h5{
  color: #95afb4;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
}

.container.team .teammembers {
  margin: 0px 0px 0px 352px;
  display: block;
}

.container.team .teammembers .teammember{
  width: 354px;
  margin: 0px auto 0px auto;
  display: block;
}

.container.team .teammembers .teammember .portrait{
  width: 354px;
  height: 327px;
  display: block;
}

.container.team .teammembers .teammember .description{
  color: #747576;
  display: block;
}

.container.services h2 {
  width: 465px;
  padding: 10px;
}

.container.services .diagram{
  display: block;
  float:left;
  width: 710px;
}

.container.services .services{
  display: block;
  margin: 0px 0px 0px 710px;
}

.container.services .services .service{
  display: block;
  color: #9d9b9b;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.container.contact {
  height: 1009px;
  display: block;
  background-image: url(../img/container-background-culture.png);
  position: relative;
}

.container.contact .content {
  width: 417px;
  height: 515px;
  display: block;
  color: #faf8de;
  background-color: #0b1016;
  position: absolute;
  top: 133px;
  font-family: FuturaExtBdCond, sans-serif;
  text-transform: uppercase;
}

.container.contact img {
  display: block;
  margin-left: 35px;
  margin-top: 30px;
}


.container.contact .content .street{
  display: block;
  font-size: 14px;
  margin-left: 35px;
}

.container.contact .content ul{
  list-style-type: none;
  margin-left: 30px;
}

.container.contact .content ul li {
  font-size: 12px;
}

.container.contact .content ul li span {
  display: inline-block;
  width: 100px;
  font-size: 18px;
}

.container.contact .content h2 {
  margin-left: 15px;
}

footer {
  width: 1025px;
  height: 271px;
  background-image: url(../img/footer.png);
}




/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as .content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { .content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { .content: " (" attr(href) ")"; }
  abbr[title]:after { .content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { .content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
