<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/idangerous.swiper.css">
  <link rel="stylesheet" href="css/ui-lightness/jquery-ui.custom.css">
  <link rel="stylesheet" href="css/fancybox/jquery.fancybox.css">

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  
  <div role="main">
    <div class="header">
    <div class="navigation">
      <div class="navitem logo" destination="home"></div>
      <div class="navitem" destination="culture">Culture</div>
      <div class="navitem" destination="creative-study">Creative Study</div>
      <div class="navitem" destination="work">Work</div>
      <div class="navitem" destination="team">The Team</div>
      <div class="navitem" destination="services">Services</div>
      <div class="navitem" destination="contact">Contact</div>
      <div class="navitem social" destination="none">
        <div class="socialitem">
          <a href="#"><img src="img/social-twitter.png" /></a>
        </div>
        <div class="socialitem">
          <a href="#"><img src="img/social-facebook.png" /></a>
        </div>
        <div class="socialitem">
          <a href="#"><img src="img/social-vimeo.png" /></a>
        </div>
        <div class="socialitem">
          <a href="#"><img src="img/social-youtube.png" /></a>
        </div>
      </div>
    </div>
  </div>
    <div class="container home">
      <div id="home-slider" class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide mobile">
              
            </div>

            <div class="swiper-slide touchwall">
              
            </div>

            <div class="swiper-slide websites">
              
            </div>

            <div class="swiper-slide motion">
              
            </div>

            <div class="swiper-slide video">
              
            </div>
          </div>
          <div class="close-button"></div>
        </div>
      <div class="content">

        <h2><span class="highlight">A digital design agency.</span> <br>Specializing in online visual entertainment</h2>
        <div class="navigation" id="home-icons">
          <div class="navitem" contentindex="0">
            <!-- <a class="home-images" rel="home-gallery" href="img/home/mobile.png"> -->
            <div class="icon mobile">
              <img src="img/home/icon-overlay-mobile.png" />
            </div>
            <span>Mobile</span>
            </a>
          </div>
          <div class="navitem" contentindex="1">
            <!-- <a class="home-images" rel="home-gallery" href="img/home/responsive-websites.png"> -->
            <div class="icon responsive-websites">
              <img src="img/home/icon-overlay-responsive-websites.png" />
            </div>
            <span>Touchwall</span>
            </a>
          </div>
          <div class="navitem" contentindex="2">
            <!-- <a class="home-images" rel="home-gallery" href="img/home/responsive-websites.png"> -->
            <div class="icon responsive-websites">
              <img src="img/home/icon-overlay-responsive-websites.png" />
            </div>
            <span>Websites</span>
            </a>
          </div>
          <div class="navitem" contentindex="3">
            <!-- <a class="home-images" rel="home-gallery" href="img/home/motion.png"> -->
            <div class="icon motion">
              <img src="img/home/icon-overlay-motion.png" />
            </div>
            <span>Motion</span>
            </a>
          </div>
          <div class="navitem" contentindex="4">
            <!-- <a class="home-images" rel="home-gallery" href="img/home/video.png"> -->
            <div class="icon video">
              <img src="img/home/icon-overlay-video.png" />
            </div>
            <span>Video</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container culture">
      <div class="content">
        <h2><span class="highlight">We are trendsetters,</span> brand enhancers,<br>visionaries, with infinite creative ideas.</h2>
        <p>Tim McCracken's vision to create a fully charged digital design agency specializing in online visual entertainment was born in 2008 as Gin and Tonic.  Located in Chapel Hill, North Carolina servicing clients throughout North America and the UK.</p>
        <p>In today’s digital era, technology constantly evolves whilst the market continually adapts. At Gin and Tonic we embrace this rapid metamorphose and are in the vanguard of the latest trends enabling us to inspire our clients.</p>
        <p>Today, Tim leads an interactive team of vibrant and talented designers, programmers, producers and animators, whose creative abilities and experiences, aligned with today’s current trends, are designed to achieve success and gain a distinctive edge in today’s marketplace.  Our Team can build the vital tools to successfully reach your target audience through brand recognition and social media, to showcase the impact of digital advertising, from innovative websites, mobile and tablet apps, video production and interactive installations.</p>
        <p><span>“We make amazing things happen online”.</span></p>
      </div>
    </div>

    <div class="container creative-study amazing-things">
      <div class="content">
          <div class="navigation">
          <div class="navitem study-nav-button active" study="amazing-things">
            <span>01</span>Amazing Things: Viral
          </div>
          <div class="navitem study-nav-button" study="tyco">
            <span>02</span>Tyco Mobile
          </div>
          <div class="navitem study-nav-button" study="duke-tip">
            <span>03</span>Duke Tip
          </div>
        </div>
        <div class="study" title="amazing-things">
          <div class="video-container"></div>
          <h2>Amazing Things Start Here</h2>
          <p>We're a small team of creative minds.  We've been designing and building websites for clients for 10 years.</p>
        </div>

        <div class="study" title="tyco">
          <div class="video-container"></div>
          <h2>Tyco Global People Finder</h2>
          <p>We're a small team of creative minds.  We've been designing and building websites for clients for 10 years.</p>
        </div>

        <div class="study" title="duke-tip">
          <div class="video-container"></div>
          <h2>Duke Tip Website Build</h2>
          <p>We're a small team of creative minds.  We've been designing and building websites for clients for 10 years.</p>
        </div>
      </div>
    </div>

    <div class="container work">
      <div class="content">
          <div class="navigation">
          </div>
          <div class="workitems">
          </div>
        <script id="workItemTemplate" type="text/template">
          
          <div class="screenshot"><img src=<%= screenshot %> /></div>
          <div class="button-div">
          <div class="navbutton html5-site">HTML5 Site</div>
          <div class="navbutton flash-site">Flash Site</div>
          </div>
          
          <h2><%= name %></h2>
          <p><%= description %></p>
        </script>


        <script id="workNavTemplate" type="text/template">
          <span><%= number %></span><%= title %>
        </script>

        <script id="workNavItemTemplate" type="text/template">
          <%= name %>
        </script>
        
      </div>
    </div>

    <div class="container team">
      <div class="content">
        <h2>Amazing Things Start Here</h2>
          <div class="navigation">
          </div>
          <div class="teammembers">
          </teammembers>
        
        <script id="teamMemberTemplate" type="text/template">
          <div class="portrait"><img src=<%= image %> /></div>
          <div class="description"> <%= description %> </div>
        </script>


        <script id="teamMemberNavItemTemplate" type="text/template">
          <h3><%= name %></h3>
          <h5><%= role %></h5>
        </script>
        
      </div>
    </div>
  </div>

    <div class="container services">
      <div class="content">
        <h2>We believe success is achieved through an equal partnership.  Getting you results is our goal.</h2>
        <div class="diagram"><img src="img/services-diagram.png"/></div>
        <div class="services">
            <div class="service">Idea Generation</div>
            <div class="service">Digital Strategy</div>
            <div class="service">Graphic Design</div>
            <div class="service">Architecture</div>
            <div class="service">Html 5 - Javascript Websites</div>
            <div class="service">Mobile & Tablet Apps</div>
            <div class="service">Flash Animaiton /Banner Ads</div>
            <div class="service">Viral Campaigns</div>
            <div class="service">Interactive Demos</div>
            <div class="service">Social Media - Research</div>
            <div class="service">Fashion & Retail Brands</div>
            <div class="service">Webisodes</div>
            <div class="service">in-Store Visual Displays</div>
            <div class="service">Web Video Production</div>
        </div>

        <div class="services">
            <div class="service">Partner Services</div>
            <div class="service">Planning And Research</div>
            <div class="service">3D Animation And Visual Effects</div>
            <div class="service">Film And Video Production</div>
        </div>
        
      </div>
    </div>

    <div class="container contact">
      <div class="content">
        <img src="img/contact-image.png" />
            <div class="street">400 Meadowmont Village Circle Suite<br >
            431, Chapel Hill, NC 27517</div>
            <ul>
              <li><span>Email:</span> tim@ginandtonicagency.com</li>
              <li><span>Phone:</span> 919.323.0153</li>
              <li><span>Follow Us:</span> tim@ginandtonicagency</li>
              <li><span>Skype:</span> TimothyMcCracken</li>
            </ul>
        
        <h2>We Look Forward To Hearing From You</h2>
      </div>
    </div>
<footer>

  </footer>
  </div>
  


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>

  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/libs/jquery-ui.js"></script>
  <script src="js/libs/jquery.scrollTo.js"></script>

  <script src="js/libs/idangerous.swiper-1.9.min.js"></script>

  <script src="js/libs/jquery.fancybox.pack.js"></script>
  <script src="js/libs/jquery.mousewheel-3.0.6.pack.js"></script>

  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>

  

  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>